/*
* Variaveis
*/

@font-face {
    font-family: cherl;
    src: url('../fonts/CHERL__.ttf');
}

@font-face {
    font-family: cheri;
    src: url('../fonts/CHERI__.ttf');
}

$main-font: 'Lato', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$fancy-font: 'Kaushan Script', cursive;
$title-font: cherl, cursive;
$font-size: 18px;
 
$black: #000;
$white: #FFF;

$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$blue: #3466a1;
 
$padding: 10px;
$margin: 10px;
 
/*
* Override Bootstrap variables
*/
$font-family-sans-serif: $main-font;
 
@import 'bootstrap';

.fancy-font {
    font-family: $fancy-font;
}

.title-font {
    font-family: $title-font;
}

* {
    box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
}

body {
    color: $grey;
    font-size: $font-size;
	
	background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}

.name {
    background-color: $white;
    width: 100%;

    position: absolute;
    top: 10px;

    padding-top:5px;
    padding-bottom:5px;
    padding-left:50px;

    font-size: 21px;
    color: $black;
    
    .social {
        float: right;
        margin-right: 50px;
    }
}
.social {
    a {
        float: left;
        width: 35px;
        height: 35px;
        margin: 0 5px;

        background: url(../images/social-sprite@2x.png) no-repeat;
        background-size: 70px 35px;
        opacity: 0.2;

        &:hover {
            opacity: 1.0;
        }

        &.facebook {
            background-position: 0px 0px;
        }

        &.instagram {
            background-position: -35px 0px;
        }
    }
 }

header {
    height: 100%;
    min-height: 435px;

    display: flex;
    justify-content: center;
    align-items: center;

	.titles {
        text-shadow: 1px 1px $white;

	    img{
            float: left;
            width: 30%;
        }

        h1{
            font-family: $title-font;
            font-weight: 800;
            font-size: 50px;
            margin-bottom: 0;
            padding-bottom: 0;

            @media screen and (max-width: $screen-xs) {
                font-size: 30px;
            }
        }

        h2{
            font-family: $fancy-font;
            padding: 5px;
        }
	}
}

.instagram-wrap {
    background: $lightgrey;
}
 
.instagram-content {
    h3 {
        font-family: $sub-font;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: $font-size;
        font-weight: 700;
        text-align: center;
        padding: $padding*5 0;
        color: darken($lightgrey, 20%);
    }

    .photo-box {
        margin: 0 0 $margin*3 0;
 
        .image-wrap {
            position: relative;

            img {
                width: 100%;
            }
 
            .likes {
                position: absolute;
                bottom: 5px;
                left: 15px;

                padding: $padding/2;
                background: $black;
                background: rgba($black, 0.4);
                color: $white;
            }
        }

        .description {
            font-family: $sub-font;
            background: $white;
            color: $mediumgrey;
            padding: $padding*1.5;
        }
    }
}

footer {
    background: $white;
    padding: $padding*2 0;
 
    @media screen and (min-width: $screen-lg) {
        padding: $padding*10 0;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
    h4 {
        font-size: 36px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
    }
 
    .about-text {
        padding: 0 $padding*3;
    }
}

.footer-bottom {
    background: $white;
    padding: $padding $padding*6;
    border-top: 2px solid $lightgrey;
    letter-spacing: 2px;
    text-align: center;
    color: $mediumgrey;
 
    @media screen and (min-width: $screen-md) {
        padding: $padding*4 0;
    }
}